<div class="login">
  <!-- <h1>Register</h1> -->
  <form action="javascript:void(0);" (submit)="register_user()">
    <input type="text" id="firstname" name="firstname" class="form-control" placeholder="Enter FirstName"
      required="required" />
    <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Enter LastName"
      required="required" />
    <input type="text" id="age" name="age" class="form-control" placeholder="Enter Age" required="required" />
    <input type="text" id="gender" name="gender" class="form-control" placeholder="Enter Gender" required="required" />
    <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="required" />
    <input type="password" id="password" name="password" class="form-control" placeholder="Password"
      required="required" />
    <button type="submit" class="btn btn-primary btn-block btn-large">Register</button>
  </form>
</div>

<!-- "firstName":"Monesa",
    "lastName":"Thoguluva",
    "age":25,
    "gender":"Female",
    "email":"monesatjzen@gmail.com",
    "password":"password" -->
